	/*
  	Flaticon icon font: Flaticon
  	Creation date: 29/08/2019 08:00
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff2") format("woff2"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-play-button:before { content: "\f100"; }
.flaticon-play-button-1:before { content: "\f101"; }
.flaticon-play-button-2:before { content: "\f102"; }
.flaticon-back:before { content: "\f103"; }
.flaticon-next:before { content: "\f104"; }
.flaticon-right-quote:before { content: "\f105"; }
.flaticon-left-quote:before { content: "\f106"; }
.flaticon-rose:before { content: "\f107"; }
.flaticon-flower:before { content: "\f108"; }
.flaticon-spring:before { content: "\f109"; }
.flaticon-favorite-heart-button:before { content: "\f10a"; }